VITE_API_URL=http://145.241.188.248:8000
VITE_APP_TITLE=HUMAI - Verificar Oportunidade
VITE_APP_DENUNCIA_URL=https://humai.vercel.app/denuncia-publica
VITE_APP_MAIN_URL=https://humai.vercel.app
VITE_APP_VERSION=1.0.0
